<% title 'About asciinema' %>
<div class="row about">
  <div class="col-md-8">
    <%= render partial: 'about' %> 
  </div>
  <div class="col-md-4">
    <h2>Contact / Help</h2>
    <p>Twitter: <a href="https://twitter.com/asciinema">@asciinema</a></p>
    <p>IRC: <a href="irc://irc.freenode.net/asciinema">#asciinema</a> on Freenode </p>
    <p>E-mail: support at this domain</p>
  </div>
</div>